<!-- Blog Sidebar ==================================================
================================================== -->
  <div class="one_third lastcolumn sidebar">
    <section class="first">
      <h3>Blog Navigation</h3>
      <div class="boxtwosep"></div>
      <ul class="blogList">
        <li><a class="about" href="blog.html" title="">Blog - Style One</a></li>
        <li class="activenavigationItem">Blog - Active Item</li>
        <li><a class="about" href="singleblog.html" title="">Blog - Blog Post</a></li>
      </ul>
    </section>
    <section class="second">
      <h3>Codrops Tutorials</h3>
      <div class="boxtwosep"></div>
      <ul class="blogList">
        <li><a class="about" href="http://tympanus.net/codrops/2012/06/18/3d-thumbnail-hover-effects/" title="">Codrops - Hover Effects</a></li>
        <li><a class="about" href="http://tympanus.net/codrops/2011/12/21/slopy-elements-with-css3/" title="">Codrops - Slopy Elements CSS3</a></li>
        <li><a class="about" href="http://tympanus.net/codrops/2011/09/12/elastislide-responsive-carousel/" title="">Codrops - Responsive Elastislide</a></li>
      </ul>
    </section>
    <section class="third">
      <h3>Latest Offers</h3>
      <div class="boxtwosep"></div>
      <h5><span class="color">40%</span> Sale &rsaquo;&rsaquo; Love Fashion</h5>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
    </section>
  </div>
  <!-- six columns ends here --> 