<!-- Single Blog Content Part ==================================================
================================================== -->
<div class="blankSeparator"></div>
<div class="container singleblog"> 
  <!-- Blog Post ==================================================
================================================== -->
  <div class="two_third">
    <%=render @blog,object: @flag%> 
    <!-- Blog Comments ==================================================
================================================== -->
  <!--  <section class="comments">
      <div class="blankSeparator"></div>
      <div class="sepContainer2"></div>
      <h2>评论</h2>
      <div class="sepContainer2"></div>
      <div class="blankSeparator"></div>
      <div class="boxtwosep"></div>
      <div id="comments">
        <ul id="articleCommentList">
          <li>
            <div class="commentMeta">
              <p>April 23nd</p>
              <img class="user" src="images/blog/1.png" alt="Default user icon" /> </div>
            <!-- end commentMeta --
            <div class="commentBody">
              <h3><a href="#">John Smith</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat lectus risus. Donec scelerisqu turpis non ligula convallis viverra pharetra metus volutpat. Mauris eu mattis metus. Nullam et faucibus dui. In hac habitasse platea dictumst. Praesent ut massa arcu, eget fermentum leo. </p>
              <a href="#" class="buttonhome fl">more <span>+</span></a> </div>
            <!-- end commentBody --
          </li>
          <li>
            <div class="commentMeta">
              <p>April 23nd</p>
              <img class="user" src="images/blog/2.png" alt="Default user icon" /> <span class="adminIcon">ADMIN</span> </div>
            <!-- end commentMeta --
            <div class="commentBody adminReply">
              <h3><a href="#">Admin</a></h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor    quam,feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <a href="#" class="buttonhome fl">more <span>+</span></a> </div>
            <!-- end commentBody --
            <ul>
            </ul>
          </li>
        </ul>
      </div>
      <!-- end Comments --
    </section>
  -->
    <!-- Blog Contact ==== -->
    <div id="contactForm">
      <h2>评论</h2>
      <%if current_user%>
      <form action="/contacts" method="post" id="contact_form">
        <input type="hidden" name="contact[item_id]" value="<%=params[:id]%>"/>
        <input type="hidden" name="contact[item_type]" value="Blog"/>
        <div class="message">
          
          <label for="message">Your Message:</label>
          <p> Please enter your question</p>
          <textarea id=message name="contact[content]" rows=6 cols=10 required></textarea>
          
        </div>
        <div id="loader"> <input type="submit" value="Submit" /></div>
      </form>
      <%else%>
          <input type="button" class="layer" value="请先登陆"/>
      <%end%>
    </div>

  </div>

  <!-- Blog Sidebar ================================================= --
  <div class="one_third lastcolumn sidebar">
    <section class="first">
      <h3>Blog Navigation</h3>
      <div class="boxtwosep"></div>
      <ul class="blogList">
        <li><a class="about" href="blog.html" title="">Blog - Style One</a></li>
        <li class="activenavigationItem">Blog - Active Item</li>
        <li><a class="about" href="singleblog.html" title="">Blog - Blog Post</a></li>
      </ul>
    </section>
    <section class="second">
      <h3>Codrops Tutorials</h3>
      <div class="boxtwosep"></div>
      <ul class="blogList">
        <li><a class="about" href="http://tympanus.net/codrops/2012/06/18/3d-thumbnail-hover-effects/" title="">Codrops - Hover Effects</a></li>
        <li><a class="about" href="http://tympanus.net/codrops/2011/12/21/slopy-elements-with-css3/" title="">Codrops - Slopy Elements CSS3</a></li>
        <li><a class="about" href="http://tympanus.net/codrops/2011/09/12/elastislide-responsive-carousel/" title="">Codrops - Responsive Elastislide</a></li>
      </ul>
    </section>
    <section class="third">
      <h3>Latest Offers</h3>
      <div class="boxtwosep"></div>
      <h5><span class="color">40%</span> Sale &rsaquo;&rsaquo; Love Fashion</h5>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
    </section>
  </div>
  <!-- one_third ends here --> 
</div>
<!-- container ends here -->

<div class="blankSeparator2"></div>
<script>
$('.layer').click(function(){
 $.layer({
    type : 2,
    title : '天之痕三个人的时光-半抱琵琶版',
    iframe : {src : 'http://www.tudou.com/v/Rvy0IbYmBrQ/&resourceId=0_04_05_99/v.swf'},
    area : ['750px' , '466px'],
    offset : ['100px','']
});
})

</script>
