 <div class="well sidebar-nav">
    <ul class="nav nav-list">
    	<li><h3>后台管理列表</h3></li>
        <li class="nav-header">公益组织项目管理</li>
        <li><%= link_to "公益组织列表", "/path1"  %></li>
        <li><%= link_to "添加公益项目", "/path2"  %></li>
        
    </ul>
</div><!--/.well -->