<!-- Home Content Part - Slider ==================================================
================================================== -->
<div class="flexslider">
  <ul class="slides">
    <li> <a href="#"><img src="/images/3.jpg" alt=""/></a> </li>
    <li> <img src="/images/flexslider/6.jpg" alt="" /> </li>
    <li> <a href="#"><img src="/images/flexslider/4.jpg" alt="" /></a>
    
    </li>
  </ul>
</div>
<!-- Home Content Part - Box One ==================================================
================================================== -->
<div class="blankSeparator"></div>
<div class="container">
  <div class="info">
    <div class="one_third">
      <h2>WHY</h2>
      <p>寻找志同道合者,募集更多公益资金,资金管理更加透明...是现代网络公益的特点.我们将协助您,更广泛的推广您的公益项目，并结合当下流行的微博/SNS等社交基因注入到您的项目,让公益更有活力,让更多人关注公益,聚集更大的力量.</p>
    </div>
    <div class="two_third lastcolumn">
      <div class="one_half">
        <h2>WHAT</h2>
        <p>以互联网产品的思维方式来运作公益项目,建设公益项目的网络阵地,整合PC和移动互联网,建立无缝宣传和管理.让地球各个角落的人以更方便的方式来帮助更多的人开拓眼界,启迪思维,帮助团队和项目更好的协同起来,更有效的开展公益活动.</p>
      </div>
      <div class="one_half lastcolumn">
        <h2>HOW</h2>
        <p>为项目开发WEB端站点和手机端APP；微博互动,以及信息分享在各个开放平台；捐赠财务管理系统,让财务更透明；搜索引擎优化,公益项目推广；项目日常维护管理,打造可持续的公益平台；</p>
     </div>
    </div>
  </div>
</div>
<!-- container ends here --> 
<!-- Home Content Part - Box Two ==================================================
================================================== -->
<style>

</style>
<div class="container clients">
  <div class="sepContainer"></div>
  <h2>客户</h2>
  <div class="one_sixth" > <img src="/images/ngo/shunfengche.png"  width="140" height="82" alt=""/> 
    <a href="http://www.shunfengche.org" title="" target="blank" class="buttonhome">顺风车</a>
  </div>
  <!-- end one_sixth -->
  <div class="one_sixth"> <img src="/images/ngo/dazuoxiaoti.png" alt=""/> 
    <a href="http://www.shunfengche.org" title="" target="blank" class="buttonhome">小题大作</a>
  </div>
  <!-- end one_sixth -->
  <div class="one_sixth"> <img src="/images/client3.jpg" alt=""/> </div>
  <!-- end one_sixth -->
  <div class="one_sixth"> <img src="/images/client4.jpg" alt=""/> </div>
  <!-- end one_sixth -->
  <div class="one_sixth"> <img src="/images/client5.jpg" alt=""/> </div>
  <!-- end one_sixth -->
  <div class="one_sixth lastcolumn"> <img src="/images/client6.jpg" alt=""/> </div>
  <!-- end one_sixth lastCol --> 
</div>
<!-- end container --> 
<!-- Home Content Part - Box Three ==================================================
================================================== -->
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/images/home/1.png" alt=""/>
      <h3>Natural beauty</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/images/home/2.png" alt=""/>
      <h3>Fashion Love</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/images/home/3.png" alt=""/>
      <h3>Modern Design Interior</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<!-- container ends here -->
<div class="blankSeparator1"></div>
