  <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>传播公益!</h1>
        <p class="lead">通过互联网模式来改变传统的公益事业,催生出新的公益模式，让公益的“正能量”全面普及!</p>
        <a class="btn btn-large btn-success" href="">Get started today</a>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>WHY</h2>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;寻找志同道合者，人们的爱心得到了展现，募集更多公益资金，资金管理更加透明....是现代网络公益的特点。我们将协助您，更广泛的推广您的公益项目，寻求企业机构资助，并结合当下流行的微博/SNS等社交基因注入到您的项目，让公益更有活力，让更多人关注公益，聚集更大的力量。</p>
        
         <!-- <p><a class="btn" href="#">View details &raquo;</a></p>-->
        </div>
        <div class="span4">
          <h2>WHAT</h2>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;以互联网产品的思维方式来运作公益项目，建设公益项目的网络阵地，整合PC和移动互联网，建立无缝宣传和管理。让地球各个角落的人以更方便的方式来帮助更多的人开拓眼界，启迪思维，点燃梦想。我们还将建设管理和追踪项目平台，帮助团队和项目更好的协同起来，更有效的开展公益活动。</p>
         <!--   <p><a class="btn" href="#">View details &raquo;</a></p> -->
       </div>
        <div class="span4">
          <h2>HOW</h2>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;为项目开发WEB端站点和手机端APP；</br>
          &nbsp;&nbsp;&nbsp;&nbsp;微博互动,以及信息分享在各个开放平台；</br>
          &nbsp;&nbsp;&nbsp;&nbsp;捐赠财务管理系统,让财务更透明；</br>
          &nbsp;&nbsp;&nbsp;&nbsp;搜索引擎优化,公益项目推广；</br>
          &nbsp;&nbsp;&nbsp;&nbsp;项目日常维护管理,打造可持续的公益平台；</p>
          
          <!--  <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
      </div>